{% extends 'paginas/base.html' %}

{% block title %}Editar Usuario{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Editar Usuario</h2>
            <form action="{% url 'editar_usuario' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre_usuario">Nombre de Usuario:</label>
                    <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" value="{{ user.username }}">
                </div>
                <div class="form-group">
                    <label for="contraseña_actual">Contraseña Actual:</label>
                    <input type="password" class="form-control" id="contraseña_actual" name="contraseña_actual" required>
                </div>
                <div class="form-group">
                    <label for="nueva_contraseña">Nueva Contraseña:</label>
                    <input type="password" class="form-control" id="nueva_contraseña" name="nueva_contraseña">
                </div>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
            
            <hr>
            
            <form action="{% url 'borrar_usuario' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="confirmar_contraseña">Contraseña Actual:</label>
                    <input type="password" class="form-control" id="confirmar_contraseña" name="confirmar_contraseña" required>
                </div>
                <button type="submit" class="btn btn-danger">Borrar Cuenta</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
